configuration: Release
platform: Any CPU
image: "Visual Studio 2017"

branches:
  only:
  - master

pull_requests:
  do_not_increment_build_number: true

skip_tags: true
skip_branch_with_pr: true

nuget:
  disable_publish_on_pr: true

build_script:
- ps: .\build.ps1

test: off

artifacts:
- path: .\artifacts\**\*.nupkg
  name: NuGet

deploy:
- provider: NuGet
  server: https://www.myget.org/F/dustinchilson/api/v2/package
  api_key:
    secure: Lq1Lch/xLidfauJ3bxyQYjlsseAFO5rIIlYuWxJMJDaCShDWqbFeqDOLVrLQMFSe
- provider: NuGet
  name: production
  on:
    branch: master
  api_key:
    secure: OevGaxGEhut0e3EXmzfBfihKqCn5J2Y/Og4ggvxI6I6fP5wvSwdwOjMLtreve7NN
- provider: GitHub
  description: https://www.nuget.org/packages/NLog.Targets.GraylogHttp/$(appveyor_build_version)
  auth_token:
    secure: O1DcrKLaAXkN/17fteBX16dk560KSQgF8HcTCj+mcXL5rgZ3TNjxJMXbSZ6AmRl5 # your encrypted token from GitHub
  artifact: /.*\.nupkg/            # upload all NuGet packages to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only